Repository SpechtLabs/tka: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, golangci-lint

make-generate:
  name: Run 'make generate'
  entry: make generate
  language: system
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint:
  name: golangci-lint
  entry: bash -lc 'golangci-lint run'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(root.go): correct spelling of usefull to useful in comments for clarity
  internal/cli/cmd/root.go
Due: golangci-lint

chore: Updates
  .mise.toml
  go.mod
  go.sum
Due: golangci-lint

chore: Updates
  .mise.toml
Due: none

chore(docs): update Tailscale docs, remove outdated lnhttp references
  cmd/server/serve.go
  docs/.vuepress/navbar.ts
  docs/reference/developer/lnhttp-server.md
  docs/reference/developer/tailscale-server.md
  pkg/lnhttp/server.go
  pkg/lnhttp/server_test.go
  pkg/tailscale/options.go
  pkg/tailscale/server.go
  pkg/tailscale/server_test.go
Due: golangci-lint

feat(cli): enhance shell command with context handling and signal management for better cleanup
  cmd/cli/cmd_shell.go
  go.mod
  go.sum
Due: golangci-lint

chore(tka api): refactor tka api in new sub-package
  Makefile
  cmd/cli/cmd_kubeconfig.go
  cmd/cli/cmd_login.go
  cmd/cli/cmd_signout.go
  cmd/cli/rest_client.go
  cmd/server/serve.go
  pkg/api/http_error.go
  pkg/api/tka_api/doc.go
  pkg/api/tka_api/kubeconfig.go
  pkg/api/tka_api/kubeconfig_test.go
  pkg/api/tka_api/login.go
  pkg/api/tka_api/login_test.go
  pkg/api/tka_api/logout.go
  pkg/api/tka_api/logout_test.go
  pkg/api/tka_api/options.go
  pkg/api/tka_api/server.go
  pkg/api/tka_api/server_test.go
  pkg/utils/signal_handler.go
Due: make-generate, golangci-lint

Revert "chore(tka api): refactor tka api in new sub-package"
  Makefile
  cmd/cli/cmd_kubeconfig.go
  cmd/cli/cmd_login.go
  cmd/cli/cmd_signout.go
  cmd/cli/rest_client.go
  cmd/server/serve.go
  pkg/api/doc.go
  pkg/api/http_error.go
  pkg/api/kubeconfig.go
  pkg/api/kubeconfig_test.go
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/api/logout.go
  pkg/api/logout_test.go
  pkg/api/options.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/utils/signal_handler.go
Due: make-generate, golangci-lint

feat(orchestrator): Add stubs for orchestrator
  .github/workflows/build.yaml
  .goreleaser.pr.yaml
  .goreleaser.yaml
  cmd/orchestrator/main.go
  pkg/api/list_clusters.go
  pkg/api/register_cluster.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/models/cluster_list_response.go
  pkg/models/user_login_response.go
  pkg/swagger/docs.go
  pkg/swagger/swagger.json
  pkg/swagger/swagger.yaml
  pkg/utils/interrupt_handler.go
Due: make-generate, golangci-lint

refactor!: restructure pkg/ architecture with clean layered design
  cmd/orchestrator/main.go
  cmd/server/serve.go
  docs/explanation/architecture.md
  docs/reference/developer/architecture.md
  docs/reference/developer/request-flows.md
  docs/reference/developer/tailscale-server.md
  pkg/api/doc.go
  pkg/api/kubeconfig_test.go
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/api/logout_test.go
  pkg/api/options.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/auth/capability/rule.go
  pkg/auth/mock/service.go
  pkg/auth/service.go
  pkg/middleware/auth/context.go
  pkg/middleware/auth/gin.go
  pkg/middleware/auth/gin_test.go
  pkg/middleware/auth/middleware.go
  pkg/middleware/auth/mock/auth_middleware.go
  pkg/middleware/auth/tailscale/gin.go
  pkg/middleware/middleware.go
  pkg/middleware/mock/auth_middleware.go
  pkg/models/api_error.go
  pkg/models/cluster_list_response.go
  pkg/models/user_login_response.go
  pkg/operator/options.go
  pkg/service/capability/rule.go
  pkg/service/mock/service.go
  pkg/service/operator/service.go
  pkg/service/service.go
  pkg/tailscale/interfaces.go
  pkg/tailscale/mock/whois_resolver.go
  pkg/tailscale/server.go
  pkg/tailscale/server_test.go
  pkg/tailscale/util.go
  pkg/utils/interrupt_handler.go
Due: make-generate, golangci-lint

refactor: move utils from pkg/ to internal/
  Makefile
  cmd/orchestrator/main.go
  cmd/server/serve.go
  internal/cli/cmd/root.go
  internal/utils/interrupt_handler.go
  internal/utils/o11y.go
Due: golangci-lint

refactor: clean up packages
  cmd/server/serve.go
  internal/cli/cmd/flags.go
  internal/utils/k8s_version.go
  pkg/api/kubeconfig.go
  pkg/api/kubeconfig_test.go
  pkg/api/login.go
  pkg/api/login_test.go
  pkg/api/logout.go
  pkg/api/logout_test.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/client/k8s/annotations.go
  pkg/client/k8s/client.go
  pkg/client/k8s/constants.go
  pkg/client/k8s/interface.go
  pkg/client/k8s/mock/service.go
  pkg/client/k8s/objects.go
  pkg/client/k8s/options.go
  pkg/operator/constants.go
  pkg/operator/kubeconfig.go
  pkg/operator/operations.go
  pkg/operator/operator.go
  pkg/operator/options.go
  pkg/operator/reconcile.go
  pkg/operator/utils.go
  pkg/service/operator/service.go
Due: make-generate, golangci-lint

refactor: clean up packages
  Makefile
  cmd/cli/cmd_kubeconfig.go
  cmd/cli/cmd_login.go
  cmd/cli/cmd_signout.go
  cmd/cli/rest_client.go
  cmd/orchestrator/main.go
  cmd/server/serve.go
  internal/cli/pretty_print/login_success.go
  internal/utils/gin.go
  internal/utils/k8s_version.go
  pkg/api/doc.go
  pkg/client/k8s/client.go
  pkg/operator/operator.go
  pkg/service/auth/api/http_error.go
  pkg/service/auth/api/kubeconfig.go
  pkg/service/auth/api/kubeconfig_test.go
  pkg/service/auth/api/login.go
  pkg/service/auth/api/login_test.go
  pkg/service/auth/api/logout.go
  pkg/service/auth/api/logout_test.go
  pkg/service/auth/api/options.go
  pkg/service/auth/api/server.go
  pkg/service/auth/api/server_test.go
  pkg/service/auth/models/response_test.go
  pkg/service/auth/models/user_login_response.go
  pkg/service/docs.go
  pkg/service/orchestrator/api/list_clusters.go
  pkg/service/orchestrator/api/options.go
  pkg/service/orchestrator/api/register_cluster.go
  pkg/service/orchestrator/api/server.go
  pkg/service/orchestrator/api/server_test.go
  pkg/service/orchestrator/models/cluster_list_response.go
Due: make-generate, golangci-lint

fix: GitHub Action didn't run on main anymroe
  .github/workflows/build.yaml
Due: none

fix: auth only a sub-group of the API
  pkg/middleware/auth/gin.go
  pkg/middleware/auth/mock/auth_middleware.go
  pkg/middleware/middleware.go
  pkg/service/auth/api/server.go
  pkg/service/orchestrator/api/server.go
Due: golangci-lint

docs(priority system): document the new priority system
  docs/how-to/configure-acl.md
  docs/how-to/troubleshooting.md
  docs/tutorials/comprehensive.md
  docs/tutorials/quick.md
Due: none

feat(o11y): add better o11y
  README.md
  docs/README.md
  docs/how-to/configure-acl.md
  docs/how-to/deploy-production.md
  docs/how-to/troubleshooting.md
  docs/tutorials/comprehensive.md
  docs/tutorials/quick.md
  pkg/operator/metrics.go
  pkg/operator/operations.go
  pkg/service/auth/api/login.go
  pkg/service/auth/api/metrics.go
Due: golangci-lint

ci: add codecov
  .github/workflows/build.yaml
Due: none

ci: rename back to coverage.txt
  .github/workflows/build.yaml
Due: none

ci: fix codecov-action
  .github/workflows/build.yaml
Due: none

docs: update deps
  docs/package-lock.json
  docs/package.json
Due: none

fix windows build
  cmd/cli/cmd_login.go
  cmd/cli/cmd_login_unix.go
  cmd/cli/cmd_login_windows.go
  go.mod
  go.sum
  pkg/service/auth/api/server.go
  pkg/service/auth/api/server_test.go
Due: golangci-lint

fix unit-tests
  pkg/service/auth/api/server.go
  pkg/service/auth/api/server_test.go
Due: golangci-lint

deps: update tailscale
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: golangci-lint

deps: go mod tidy
  go.mod
  go.sum
Due: golangci-lint

fix: publish workflow
  .github/workflows/build.yaml
Due: none

fix: health endpoint
  cmd/server/serve.go
  config.yaml
  internal/utils/gin.go
  pkg/service/auth/api/server.go
  pkg/service/orchestrator/api/server.go
  pkg/tailscale/interfaces.go
  pkg/tailscale/server.go
Due: golangci-lint

fix: health endpoint
  cmd/orchestrator/main.go
  cmd/server/serve.go
  internal/utils/gin.go
  pkg/service/auth/api/options.go
  pkg/service/auth/api/server.go
  pkg/service/auth/api/server_test.go
  pkg/service/orchestrator/api/options.go
  pkg/service/orchestrator/api/server.go
  pkg/service/orchestrator/api/server_test.go
Due: golangci-lint

fix: try to resolve the real public cluster address
  pkg/client/k8s/client.go
  pkg/client/k8s/objects.go
  pkg/client/k8s/objects_test.go
Due: golangci-lint

refactor: remove the logic that tries to be overly smart in determining the cluster API endpoint
  cmd/cli/cmd_cluster_info.go
  cmd/cli/main.go
  cmd/server/serve.go
  config.yaml
  docs/how-to/configure-settings.md
  docs/how-to/deploy-production.md
  docs/reference/configuration.md
  docs/tutorials/comprehensive.md
  docs/tutorials/quick.md
  internal/cli/pretty_print/cluster_info.go
  internal/cli/pretty_print/colors.go
  pkg/client/k8s/client.go
  pkg/client/k8s/objects.go
  pkg/client/k8s/objects_test.go
  pkg/operator/operator.go
  pkg/service/auth/api/cluster_info.go
  pkg/service/auth/api/options.go
  pkg/service/auth/api/server.go
  pkg/service/auth/models/cluser_info.go
  pkg/swagger/docs.go
  pkg/swagger/swagger.json
  pkg/swagger/swagger.yaml
Due: golangci-lint

docs: clarify ca is not private
  docs/how-to/deploy-production.md
  docs/reference/configuration.md
Due: none

docs: update cli reference
  docs/reference/cli.md
Due: none

consistency
  cmd/cli/cmd_config.go
  docs/how-to/deploy-production.md
  docs/how-to/troubleshooting.md
  docs/how-to/use-subshell.md
  docs/reference/configuration.md
  internal/cli/cmd/root.go
  internal/utils/o11y.go
Due: golangci-lint

allow config via kubeadm cm
  cmd/server/serve.go
  config.yaml
  docs/reference/configuration.md
Due: golangci-lint

small fix
  .github/workflows/build.yaml
  pkg/operator/reconcile.go
Due: golangci-lint

feat(orchestrator): add support for TLS and Funnel protocols in Tailscale server
  cmd/orchestrator/main.go
  cmd/server/serve.go
  pkg/service/auth/api/server.go
  pkg/service/auth/api/server_test.go
  pkg/service/orchestrator/api/server.go
  pkg/tailscale/server.go
Due: golangci-lint

fix pr
  pkg/service/auth/api/server_test.go
Due: golangci-lint

feat(tailscale.Server): add support for TLS and Funnel protocols in Tailecale server (#67)
  cmd/orchestrator/main.go
  cmd/server/serve.go
  pkg/service/auth/api/server.go
  pkg/service/auth/api/server_test.go
  pkg/service/orchestrator/api/server.go
  pkg/tailscale/server.go
Due: golangci-lint

docs update
  docs/README.md
  docs/package-lock.json
  docs/package.json
  docs/tutorials/quick.md
Due: none

improve pkg/tailscale
  pkg/tailscale/integration_test.go
  pkg/tailscale/interfaces.go
  pkg/tailscale/mock/tsnet.go
  pkg/tailscale/options.go
  pkg/tailscale/server.go
  pkg/tailscale/server_test.go
  pkg/tailscale/tailscale_test.go
  pkg/tailscale/tsnet_adapter.go
  pkg/tailscale/util.go
Due: golangci-lint

Path conditions:
  make-generate: any of: ^pkg/api/.*\.go$
  golangci-lint: any of: ^.*\.(go|mod|sum)$
